
#image-url{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    width: 200px;
}

#user-name{
    margin-left: auto;
    margin-right: auto;
}

#total-shows-completed{
    margin-left: auto;
    margin-right: auto;
}